In [1]:
'''
Autor: Matheus Silva
Data: Maio 2022
Este projeto recebe um nome de arquivo csv da database
do governo federal sobre a série histórica do preço
dos combustíveis e edita esse arquivo, agrupando
as informações do valor de venda da gasolina por 
estados e região.
'''
# importando bibliotecas
import logging
import pandas as pd
import matplotlib.pyplot as plt

# configurando o logging
logging.basicConfig(
    filename='./results.log',
    level=logging.INFO,
    filemode='w',
    format='%(name)s - %(levelname)s - %(message)s')

In [2]:
filename = 'data/serie_historica_combustiveis/ca-2021-02.csv'

In [3]:
filename[-11:]

'2021-02.csv'

In [4]:
# lendo csv
def read_data(file_path):
    """Read data from csv.
    Args:
      file_path (str): file path to read.
    Return:
        df_file (DataFrame): returns the file read as a dataframe.
    """
    try:
        df = pd.read_csv(file_path, encoding='unicode_escape', sep = ';')
        return df
    except: # pylint: disable=bare-except
        logging.error("We were not able to find %s", file_path)

In [5]:
precos_combustiveis = read_data(filename)
print(precos_combustiveis.info())
precos_combustiveis.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472856 entries, 0 to 472855
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     472856 non-null  object
 1   Estado - Sigla     472856 non-null  object
 2   Municipio          472856 non-null  object
 3   Revenda            472856 non-null  object
 4   CNPJ da Revenda    472856 non-null  object
 5   Nome da Rua        472856 non-null  object
 6   Numero Rua         472664 non-null  object
 7   Complemento        96633 non-null   object
 8   Bairro             471737 non-null  object
 9   Cep                472856 non-null  object
 10  Produto            472856 non-null  object
 11  Data da Coleta     472856 non-null  object
 12  Valor de Venda     472856 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  472856 non-null  object
 15  Bandeira           472856 non-null  object
dtypes: float64(1), object(15)
memory usage: 57.7+ MB
None

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA ADITIVADA,01/07/2021,"5,699",NaN,R$ / litro,IPIRANGA
1,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA,01/07/2021,"5,499",NaN,R$ / litro,IPIRANGA
2,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,DIESEL S10,01/07/2021,"4,699",NaN,R$ / litro,IPIRANGA
3,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,ETANOL,01/07/2021,"5,2",NaN,R$ / litro,IPIRANGA
4,NE,CE,MARACANAU,LUIZA GLAURIA R T MENEZES,03.602.329/0001-10,ESTRADA FORTALEZA MARANGUAPE,S/N,NaN,KAGADO,61901-410,GASOLINA,01/07/2021,"5,49",NaN,R$ / litro,VIBRA ENERGIA

In [6]:
precos_combustiveis = precos_combustiveis.rename(columns={precos_combustiveis.columns[0]: "Regiao - Sigla"})

In [7]:
#coluna 'Valor de Venda' para float
precos_combustiveis['Valor de Venda'] = precos_combustiveis['Valor de Venda'].str.replace(',','.').astype(float)
#selecionando apenas gasolina
preco_gasolina = precos_combustiveis[precos_combustiveis['Produto'].str.contains('GASOLINA')]
preco_gasolina.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA ADITIVADA,01/07/2021,5.699,NaN,R$ / litro,IPIRANGA
1,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA,01/07/2021,5.499,NaN,R$ / litro,IPIRANGA
4,NE,CE,MARACANAU,LUIZA GLAURIA R T MENEZES,03.602.329/0001-10,ESTRADA FORTALEZA MARANGUAPE,S/N,NaN,KAGADO,61901-410,GASOLINA,01/07/2021,5.490,NaN,R$ / litro,VIBRA ENERGIA
7,NE,CE,MARACANAU,POSTO BOTO LTDA,03.020.995/0001-40,AVENIDA PADRE JOSE HOLANDA DO VALE,809,NaN,PIRATININGA,61905-000,GASOLINA ADITIVADA,01/07/2021,5.499,NaN,R$ / litro,RAIZEN
8,NE,CE,MARACANAU,POSTO BOTO LTDA,03.020.995/0001-40,AVENIDA PADRE JOSE HOLANDA DO VALE,809,NaN,PIRATININGA,61905-000,GASOLINA,01/07/2021,5.499,NaN,R$ / litro,RAIZEN

In [8]:
#agrupando por estados e calculando a média do valor de venda
preco_gasolina_estados = preco_gasolina.groupby('Estado - Sigla')[['Valor de Venda']].mean()\
                            .rename(columns = {'Valor de Venda':'Valor de Venda - Media'}).reset_index()
preco_gasolina_estados

   Estado - Sigla  Valor de Venda - Media
0              AC                6.755982
1              AL                6.408151
2              AM                6.286377
3              AP                5.499646
4              BA                6.442472
5              CE                6.423124
6              DF                6.620054
7              ES                6.454626
8              GO                6.686064
9              MA                6.214061
10             MG                6.631856
11             MS                6.302816
12             MT                6.360763
13             PA                6.498622
14             PB                6.167052
15             PE                6.328508
16             PI                6.792801
17             PR                6.135745
18             RJ                6.893496
19             RN                6.659849
20             RO                6.343915
21             RR                5.998328
22             RS                6.615388
23             SC                6.114183
24             SE                6.398221
25             SP                6.028733
26             TO                6.513243

In [9]:
nova_linha = {'Estado - Sigla': 'Total', 'Valor de Venda - Media': preco_gasolina['Valor de Venda'].mean()}
preco_gasolina_estados = preco_gasolina_estados.append(nova_linha, ignore_index = True)
preco_gasolina_estados.tail(5)

   Estado - Sigla  Valor de Venda - Media
23             SC                6.114183
24             SE                6.398221
25             SP                6.028733
26             TO                6.513243
27          Total                6.337137

In [10]:
#preco_gasolina_estados.to_csv('data/preco_gasolina_estados/preco_gasolina_estados_'+filename[-11:], index=False)

In [11]:
#agrupando por regiões e calculando a média do valor de venda
preco_gasolina_regioes = preco_gasolina.groupby('Regiao - Sigla')[['Valor de Venda']].mean()\
                            .rename(columns = {'Valor de Venda':'Valor de Venda - Media'}).reset_index()
preco_gasolina_regioes

  Regiao - Sigla  Valor de Venda - Media
0             CO                6.500191
1              N                6.389316
2             NE                6.421380
3              S                6.328289
4             SE                6.275255

In [12]:
nova_linha = {'Regiao - Sigla': 'Total', 'Valor de Venda - Media': preco_gasolina['Valor de Venda'].mean()}
preco_gasolina_regioes = preco_gasolina_regioes.append(nova_linha, ignore_index = True)
preco_gasolina_regioes

  Regiao - Sigla  Valor de Venda - Media
0             CO                6.500191
1              N                6.389316
2             NE                6.421380
3              S                6.328289
4             SE                6.275255
5          Total                6.337137

In [13]:
#preco_gasolina_regioes.to_csv('data/preco_gasolina_regioes/preco_gasolina_regioes_'+filename[-11:], index=False)